## Importing data

In [5]:
import pandas as pd 

rr_data = pd.read_csv("data/data_RR_merged_20190108.csv") 
m_data = pd.read_csv("data/data_M_merged_20190108.csv")

,ID,index_runner,side_runner,square_runner,python_tijd,spel,round,level,times_level_played_before,incorrect,mabc_percentile_score,mabc_binary_score,gender,age_precise,ax_f,ay_f,az_f,acc,jerk
0,101,4,0,4,1.497942e+09,M,warmup,0,0,0,37.0,0,1,7.009042,0.000000,0.000000,0.000000,0.000000,0.051024
1,101,4,0,4,1.497942e+09,M,warmup,0,0,0,37.0,0,1,7.009042,-0.000001,0.000008,0.000004,0.000009,0.087252
2,101,4,0,4,1.497942e+09,M,warmup,0,0,0,37.0,0,1,7.009042,-0.000010,0.000067,0.000039,0.000078,0.158828
3,101,4,0,4,1.497942e+09,M,warmup,0,0,0,37.0,0,1,7.009042,-0.000043,0.000296,0.000173,0.000345,0.316180
4,101,4,0,4,1.497942e+09,M,warmup,0,0,0,37.0,0,1,7.009042,-0.000131,0.000904,0.000530,0.001057,0.487321

In [17]:
# preview rr data
rr_data.head()

,ID,index_runner,side_runner,square_runner,python_tijd,spel,permutation,round,level,times_level_played_before,...,costheta,mabc_percentile_score,mabc_binary_score,gender,age_precise,ax_f,ay_f,az_f,acc,jerk
0,101,4,0,4,1.497942e+09,RR,1,warmup,0,0,...,0.277297,37.0,0,1,7.009042,0.000000,0.000000e+00,0.000000,0.000000,0.050535
1,101,4,0,4,1.497942e+09,RR,1,warmup,0,0,...,0.220860,37.0,0,1,7.009042,-0.000009,2.696266e-07,-0.000002,0.000009,0.103459
2,101,4,0,4,1.497942e+09,RR,1,warmup,0,0,...,0.249076,37.0,0,1,7.009042,-0.000076,2.315207e-06,-0.000017,0.000078,0.235042
3,101,4,0,4,1.497942e+09,RR,1,warmup,0,0,...,0.262715,37.0,0,1,7.009042,-0.000335,9.988708e-06,-0.000078,0.000344,0.389604
4,101,4,0,4,1.497942e+09,RR,1,warmup,0,0,...,0.249117,37.0,0,1,7.009042,-0.001021,2.959023e-05,-0.000242,0.001050,0.600444

In [13]:
# preview m data
m_data.head()

,ID,index_runner,side_runner,square_runner,python_tijd,spel,round,level,times_level_played_before,incorrect,mabc_percentile_score,mabc_binary_score,gender,age_precise,ax_f,ay_f,az_f,acc,jerk
0,101,4,0,4,1.497942e+09,M,warmup,0,0,0,37.0,0,1,7.009042,0.000000,0.000000,0.000000,0.000000,0.051024
1,101,4,0,4,1.497942e+09,M,warmup,0,0,0,37.0,0,1,7.009042,-0.000001,0.000008,0.000004,0.000009,0.087252
2,101,4,0,4,1.497942e+09,M,warmup,0,0,0,37.0,0,1,7.009042,-0.000010,0.000067,0.000039,0.000078,0.158828
3,101,4,0,4,1.497942e+09,M,warmup,0,0,0,37.0,0,1,7.009042,-0.000043,0.000296,0.000173,0.000345,0.316180
4,101,4,0,4,1.497942e+09,M,warmup,0,0,0,37.0,0,1,7.009042,-0.000131,0.000904,0.000530,0.001057,0.487321